---
// Layout Component Imports
import Header from '../layout/Header.tsx';
import Container from '../layout/Container.tsx';

// Component Imports
import Text from '../components/Text.tsx';
import Image from '../components/Image.tsx';
import Button from '../components/Button.tsx';

// Variables
let title = '>jfm | Home';

// Styles
const styles = {
    body: 'px-8 xl:py-16 py-8',
    main: 'mt-10 text-center',
    photo: 'rounded-full w-64 h-64 ring-4 ring-blue-400',
    name: 'text-4xl font-bold mt-10',
    subtitle: 'text-3xl font-medium mt-10',
    subsubtitle: 'text-xl mt-10',
    button: 'bg-gray-700 text-white text-lg px-6 py-4 rounded-md mt-10 flex gap-4 items-center',
}
---
    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class={styles.body}>
    <Header activeLabel={'Home'}/>
    <main class={styles.main}>
        <Container>
            <Image src="./assets/face.png" alt="Jonathan's photo" class={styles.photo}/>
            <Text className={styles.name}>Jonathan Fernández</Text>
            <Text className={styles.subtitle}>I am a Computer Science Engineer specialized in Information Systems and working as Full Stack developer</Text>
            <Text className={styles.subsubtitle}>I am experienced in Web Development, mobile development, cloud tecnologies, backend and  design</Text>
            <Button className={styles.button}>More about me <img src="./assets/arrow.svg"/></Button>
        </Container>
    </main>
</body>
</html>
